/*css reset rule*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#aboutMe {

	font-family: Montserrat;
	font-weight: 700;
	font-size: 68px;
	line-height: 84px;
	letter-spacing: 0px;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;

}

#aboutMeP {

	font-family: Montserrat;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	letter-spacing: 0px;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;

}

nav > div > div > div > a {

	font-family: Montserrat;
	font-weight: 700;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 0%;
	color: #003363 !important;

}

#landing {
	
	background: 

	linear-gradient(

		rgba(0, 34, 65, 1.0),
		rgba(0, 34, 65, 1.0)
	),

	url("./images/workspace.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	;
}

#myProject {

	font-family: Montserrat;
	font-weight: 700;
	font-size: 68px;
	line-height: 84px;
	letter-spacing: 0px;
	text-align: center;
	vertical-align: middle;
	color: #003363;

}

#myTools {

	font-family: Montserrat;
	font-weight: 700;
	font-size: 68px;
	line-height: 84px;
	letter-spacing: 0px;
	text-align: center;
	vertical-align: middle;
	color: #003363;

}

#headingContact {

	font-family: Montserrat;
	font-weight: 700;
	font-size: 68px;
	line-height: 84px;
	letter-spacing: 0px;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;

}

#contact{

	background: 

	linear-gradient(

		rgba(0, 34, 65, 0.61),
		rgba(0, 34, 65, 0.61)
	),

	url("./images/workspace2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	;
}

.card {

	width: 18rem;

}

.card {

	width: 18rem;

}

/*start of cards glow on hover*/

.card-style {
	padding: 15px 30px;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
	transition: all 0.3s ease;
	position: relative;
	overflow: hidden;
}

.card-style:hover {
	box-shadow: 0 0 20px rgba(0, 0, 255, 0.8), 0 0 40px rgba(0, 0, 255, 0.6);
}

.card-style:hover::before {
	width: 150%;
	height: 150%;
}

.card-style::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400%;
	height: 400%;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

/*end of cards glow on hover*/

/*start of text typing animation*/

.wrapper {
	display: inline-flex;
}

.wrapper .static-txt {
	color: #fff;
	font-size: 60px;
	font-weight: 400;
}

.wrapper .dynamic-txts {
	margin-left: 15px;
	height: 90px;
	line-height: 90px;
	overflow: hidden;
}

.dynamic-txts li {
	color: #FC6D6D;
	list-style: none;
	font-size: 60px;
	font-weight: 500;
	position: relative;
	top: 0;
	animation: slide 6s steps(4) infinite;
}

@keyframes slide {
	100% {
		top: -360px;
	}
}

.dynamic-txts li span {
	position: relative;
}

.dynamic-txts li span::after {
	content: '';
	position: absolute;
	left: 0;
	height: 110%;
	width: 100%;
	background: rgba(0, 34, 65, 1.0);
	border-left: 2px solid #FC6D6D;
	animation: typing 1.5s steps(10) infinite;
}

@keyframes typing {
	100% {
		left: 100%;
		margin: 0 -35px 0 35px;
	}
}
/*end of text typing animation*/



